  body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

#secondsubcontainer {
 border: 2px solid gray;text-align: right;
    width: 340px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid black;
    max-width: 400px;margin-left: auto;
    margin-right: auto;  
    height: 340px;
    margin-top: auto;
    margin-bottom: auto;  border-radius: 10px;
}
 
#firstsubcontainer{
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  border: 2px solid gray;
  border-radius: 10px;
     width: 340px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 400px;
    margin-right: auto;
  
    color: black;
}

#btn {

    padding: 10px;
    cursor: pointer;
  
}

#btn:hover {
    background-color: black;
    color: white;
}

 

div .input_number  {
    margin: 4px;
width: 45px;
    font-size: 1.8rem;
 
    text-align: right;


}   @media (max-width: 400px) {
  div .input_number {
      text-align: center; 
   
  }
}
  div span{
      display: inline-block;
    margin: 4px;
   
      height: 20px;
    font-size: 1.8rem;
      text-align: center !important;


}
  #solutioncontainer{

      border-top: 4px solid black;
  }
  .mycontainer{
    max-width: 600px;
    border: 4px solid red;
  }